# Report of Segmenting and Clustering Cities Project
---
**Xu Qianyi**

Data Scientist

# 1. Introduction

**In thie project, we are going to examine what are the most similar city in the world for some famous cities in the world, for example, would New York be the most similar city to London, since they are both famous finacial cities.**

**Also, we will finally cluster 20 famous cities in worlds into 5 classes, and analyze the features of each cluster.**

## 2. Source of Data

First, we collect List of cities by GDP and by population from Internet, all data required for this project is saved in a csv file.

You can find the link of the source of data from the links listed below:
 
> [List of cities by GDP](https://en.wikipedia.org/wiki/List_of_cities_by_GDP)

> ![img](https://raw.githubusercontent.com/oliviaHKUST/Capstone-Project/master/Cities_by_GDP.png)

> [List of cities by population](https://www.worldatlas.com/citypops.htm)

> ![img](https://raw.githubusercontent.com/oliviaHKUST/Capstone-Project/master/Cities_by_Population.png)

## 2. Methodology

For city clustering, we will use KNN module as the clustering algorithm to classify the cities. 

At the very beginning, we need to decide how to describe the features for each city. For this part, we will leverage the API of Foursquare to get the categories types of all venues in each cities. Then, to analyze the features quantitatively, we use the frequencies of all categories to describe the feature of a city.

After computing the feature dataframe for all cities. With knn library from sklearn package, we are able to do the cities clustering work.

We choose consine distance as the metrics to compute the similarity between each two-cities pair, and find the most similar city for all cities.

## 3. Results

### Examine similarity matrix

Similarity matrix can be found in the matrix listed below.

In [159]:
import pandas as pd
sim_matrix = pd.read_csv('sim_matrix.csv', index_col=0)
sim_matrix

,Beijing,Chicago,Dallas,Houston,London,Los Angeles,New York,Osaka,Paris,Rhine-Ruhr,San Francisco,Sao Paulo,Seoul,Shanghai,Shenzhen,Tokyo,"Washington, D.C."
Beijing,1.000000,0.335841,0.346995,0.280185,0.440741,0.181007,0.243969,0.267581,0.294181,0.096601,0.231381,0.155560,0.542747,0.527140,0.534757,0.373914,0.284104
Chicago,0.335841,1.000000,0.591727,0.491465,0.583646,0.453926,0.488558,0.246369,0.258478,0.083356,0.390950,0.434749,0.313003,0.394508,0.409542,0.331169,0.422592
Dallas,0.346995,0.591727,1.000000,0.637698,0.516346,0.460086,0.355295,0.333441,0.304897,0.073744,0.489314,0.340662,0.310289,0.350514,0.484985,0.365184,0.487772
Houston,0.280185,0.491465,0.637698,1.000000,0.379337,0.441013,0.382124,0.221701,0.265700,0.082973,0.350842,0.327292,0.245846,0.257205,0.328512,0.219620,0.330468
London,0.440741,0.583646,0.516346,0.379337,1.000000,0.340425,0.446815,0.383746,0.447341,0.134473,0.347969,0.442232,0.399596,0.607814,0.497935,0.400741,0.506690
Los Angeles,0.181007,0.453926,0.460086,0.441013,0.340425,1.000000,0.432085,0.345746,0.404981,0.133570,0.472679,0.489640,0.291814,0.123031,0.252549,0.354889,0.351004
New York,0.243969,0.488558,0.355295,0.382124,0.446815,0.432085,1.000000,0.294260,0.392619,0.176627,0.513076,0.462729,0.311197,0.302776,0.307380,0.301142,0.309386
Osaka,0.267581,0.246369,0.333441,0.221701,0.383746,0.345746,0.294260,1.000000,0.232846,0.123623,0.318997,0.224133,0.270084,0.330294,0.419213,0.650450,0.292822
Paris,0.294181,0.258478,0.304897,0.265700,0.447341,0.404981,0.392619,0.232846,1.000000,0.109524,0.281173,0.394421,0.326796,0.293028,0.206334,0.224900,0.373230
Rhine-Ruhr,0.096601,0.083356,0.073744,0.082973,0.134473,0.133570,0.176627,0.123623,0.109524,1.000000,0.183093,0.202307,0.124589,0.167163,0.241586,0.080411,0.106550
San Francisco,0.231381,0.390950,0.489314,0.350842,0.347969,0.472679,0.513076,0.318997,0.281173,0.183093,1.000000,0.417053,0.244451,0.203859,0.365539,0.310116,0.368224
Sao Paulo,0.155560,0.434749,0.340662,0.327292,0.442232,0.489640,0.462729,0.224133,0.394421,0.202307,0.417053,1.000000,0.251538,0.181363,0.223100,0.165641,0.377095
Seoul,0.542747,0.313003,0.310289,0.245846,0.399596,0.291814,0.311197,0.270084,0.326796,0.124589,0.244451,0.251538,1.000000,0.396888,0.400601,0.344464,0.290979
Shanghai,0.527140,0.394508,0.350514,0.257205,0.607814,0.123031,0.302776,0.330294,0.293028,0.167163,0.203859,0.181363,0.396888,1.000000,0.732307,0.448252,0.369609
Shenzhen,0.534757,0.409542,0.484985,0.328512,0.497935,0.252549,0.307380,0.419213,0.206334,0.241586,0.365539,0.223100,0.400601,0.732307,1.000000,0.551673,0.367247
Tokyo,0.373914,0.331169,0.365184,0.219620,0.400741,0.354889,0.301142,0.650450,0.224900,0.080411,0.310116,0.165641,0.344464,0.448252,0.551673,1.000000,0.323433
"Washington, D.C.",0.284104,0.422592,0.487772,0.330468,0.506690,0.351004,0.309386,0.292822,0.373230,0.106550,0.368224,0.377095,0.290979,0.369609,0.367247,0.323433,1.000000

We can find that most similar city for Tokyo is Osaka because they share many catogeries common in Japan like sushi restaurants.

In [160]:
sim_matrix = pd.read_csv('similarity.csv', index_col=0)
sim_matrix

                 most similar city
Beijing                     Seoul
Chicago                     Dallas
Dallas                    Houston
Houston                     Dallas
London                   Shanghai
Los Angeles              Sao Paulo
New York            San Francisco
Osaka                       Tokyo
Paris                      London
Rhine-Ruhr                Shenzhen
San Francisco            New York
Sao Paulo             Los Angeles
Seoul                     Beijing
Shanghai                  Shenzhen
Shenzhen                 Shanghai
Tokyo                        Osaka
Washington, D.C.           London

### Examine Clusters

Examine each cluster and determine the discriminating venue categories that distinguish each cluster.

#### Cluster 1

In [140]:
cities_merged.loc[cities_merged['Cluster Labels'] == 0, cities_merged.columns[[0] + list(range(8, cities_merged.shape[1]))]]

,City,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,New York,0,Park,Italian Restaurant,Sushi Restaurant,Seafood Restaurant,Hotel,Pizza Place,Bakery,Bookstore,Gourmet Shop,Thai Restaurant
2,Los Angeles,0,Ice Cream Shop,Art Gallery,Sushi Restaurant,Coffee Shop,Bar,Music Venue,Theater,Bookstore,Italian Restaurant,Ramen Restaurant
3,London,0,Hotel,Theater,Indian Restaurant,Steakhouse,Plaza,Seafood Restaurant,Bookstore,Park,Boutique,Pizza Place
5,Chicago,0,Theater,Park,Hotel,Seafood Restaurant,Gastropub,Donut Shop,Bar,Italian Restaurant,Steakhouse,New American Restaurant
6,Seoul,0,Korean Restaurant,Hotel,Historic Site,Café,Noodle House,Palace,Japanese Restaurant,Art Museum,Park,Plaza
10,Dallas,0,Coffee Shop,Hotel,Bar,Mexican Restaurant,Burger Joint,New American Restaurant,Park,Dive Bar,Cocktail Bar,Japanese Restaurant
11,"Washington, D.C.",0,Monument / Landmark,Art Museum,Hotel,History Museum,Coffee Shop,Salon / Barbershop,American Restaurant,Indian Restaurant,Theater,Science Museum

Keywords: Park, Restaurant

#### Cluster 2

In [141]:
cities_merged.loc[cities_merged['Cluster Labels'] == 1, cities_merged.columns[[0] + list(range(8, cities_merged.shape[1]))]]

,City,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Tokyo,1,Hotel,Ramen Restaurant,Soba Restaurant,Coffee Shop,Japanese Restaurant,Japanese Curry Restaurant,Sushi Restaurant,Udon Restaurant,Tonkatsu Restaurant,Electronics Store

Keywords: Hotel, Restaurant

#### Cluster 3

In [142]:
cities_merged.loc[cities_merged['Cluster Labels'] == 2, cities_merged.columns[[0] + list(range(8, cities_merged.shape[1]))]]

,City,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
4,Paris,2,French Restaurant,Plaza,Cocktail Bar,Sandwich Place,Bookstore,Wine Bar,Art Museum,Historic Site,Hotel,Italian Restaurant
7,Osaka,2,Japanese Curry Restaurant,Sake Bar,Ramen Restaurant,Hotel,Bakery,Coffee Shop,Japanese Restaurant,Kushikatsu Restaurant,Bar,BBQ Joint
8,Sao Paulo,2,Theater,Cultural Center,Pizza Place,Brazilian Restaurant,Bookstore,Italian Restaurant,Ice Cream Shop,Art Museum,Park,Café
12,Houston,2,Vietnamese Restaurant,Park,Bar,Pizza Place,Beer Garden,Cocktail Bar,Hotel,Mexican Restaurant,Baseball Stadium,American Restaurant
15,Beijing,2,Historic Site,Hotel,Park,Hostel,Coffee Shop,Chinese Restaurant,Yunnan Restaurant,Café,Peking Duck Restaurant,Shopping Mall
16,Shenzhen,2,Hotel,Coffee Shop,Café,Chinese Restaurant,Shopping Mall,Nightclub,Electronics Store,Spa,Restaurant,Japanese Restaurant

Keywords: Restaurant, Hotel

#### Cluster 4

In [144]:
cities_merged.loc[cities_merged['Cluster Labels'] == 3, cities_merged.columns[[0] + list(range(8, cities_merged.shape[1]))]]

,City,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
9,Rhine-Ruhr,3,Supermarket,Drugstore,Fast Food Restaurant,Café,Bakery,Hardware Store,Big Box Store,Doner Restaurant,Ice Cream Shop,Furniture / Home Store

Keywords: Store, Supermarket, Resturant

#### Cluster 5

In [143]:
cities_merged.loc[cities_merged['Cluster Labels'] == 4, cities_merged.columns[[0] + list(range(8, cities_merged.shape[1]))]]

,City,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
13,San Francisco,4,Coffee Shop,Grocery Store,Yoga Studio,Bakery,Pizza Place,Sushi Restaurant,Ice Cream Shop,Park,Art Museum,Gastropub
14,Shanghai,4,Hotel,Hotel Bar,Lounge,Chinese Restaurant,French Restaurant,Scenic Lookout,Dumpling Restaurant,Café,Restaurant,Italian Restaurant

Keywords: Resturant, Coffe

## 4. Discussion

We get the five clusterings and the similarity matrix for nearly twenty cities in the world, the feature for each cities is quantitalize besed on the frequencies of categories types gathered from Foursquare API. The result is somehow reasonable, for example, Okasa is the most similar city to Tokyo beacause they are both Japanese cities, San Francisco is the most similar city to New York because they are both American and technical cities.

However, more features should be added to a city to get a diverse analysis from different perspectives and a more accurate result.

## 5. Conclusion

In thie project, we are going to examine what are the most similar city in the world for some famous cities in the world, for example, would New York be the most similar city to London, since they are both famous finacial cities.

Also, we will finally cluster 20 famous cities in worlds into 5 classes, and analyze the features of each cluster.